@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Poppins&family=Silkscreen&family=Sofia+Sans+Condensed:wght@600&family=Tilt+Prism&display=swap');
body {
  margin: 0;
  font-family:Arvo,'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition:0.5s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
